.login-container {
    height: 90vh;
    min-height: 100vh;
    width: 100vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.fig-container {
    height: 17vh;
    max-height: 150px;
    width: 100%;
}

.login-fig-1 {
    background-color: #E7B036;
    height: 50px;
    width: 100%;
}

.login-fig-2 {
    background-color: #2E3A89;
    height: 100px;
    width: 100%;
}

.logo-img {
    max-width: 100%;
    width: 250px;
    height: auto;
}

.login-container > form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20px 0;
}

.btn-login {
    width: 100%;
    max-width: 300px;
    height: 50px;
    color: #FFFFFF;
    background-color: #2E3A89;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: filter 0.2s;
}

.btn-login:active {
    filter: brightness(1.2);
}

.btn-login:hover {
    background-color: #E7B036;
}